*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

:root {
  --light-mode-main-bg-color: rgba(247, 247, 247, 0.925);  
  --light-mode-sb-bg-color: rgba(240, 240, 240, 0.925);  
  --light-mode-font-color: rgba(9, 16, 46, 0.89) ;
  --light-mode-complementary-blue:  rgba(54, 60, 105, 0.105); 
  --light-mode-checkbox-color: rgba(190, 190, 190, 1); 

  --dark-mode-main-bg-color: rgba(25, 29, 44, 0.89);
  --dark-mode-sb-bg-color: rgba(30, 35, 56, 0.646);
  --dark-mode-font-color: rgba(255, 255, 255, 0.621);
  --dark-mode-complementary-blue:  rgba(43, 50, 78, 0.849); 

  --dark-mode-logo-color: rgba(255, 255, 255, 0.792);
    
  --submit-form-color: rgba(4, 161, 189, 0.806);
  --submit-form-color-hover: rgba(0, 129, 151, 0.804);
  --submit-form-color-disabled: rgba(4, 161, 189, 0.505);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark){
  :root{
    background-color: var(--dark-mode-main-bg-color);
    color: var(--dark-mode-font-color)
  }
  .sidebar{
    background-color: var(--dark-mode-sb-bg-color);
    border-right: 1px solid var(--dark-mode-complementary-blue);
  }
  a:hover, .add-btn:hover {
    color: var( --light-mode-sb-bg-color);
    background-color: var(--dark-mode-complementary-blue);
  }

  a:focus{
    background-color: var(--dark-mode-font-color);
    color: var(--light-mode-font-color);
  }
  button:focus-visible, input:focus-visible, select:focus-visible,
  button:hover, input:hover, select:hover{
    border: 1px solid var(--light-mode-sb-bg-color);
  }
}

@media (prefers-color-scheme: light){
  :root{
    background-color: var(--light-mode-main-bg-color);
    color: var(--light-mode-font-color)
  }
  .sidebar{
    background-color: var(--light-mode-sb-bg-color);
    border-right: 1px solid var(--light-mode-complementary-blue);
  }
  a:hover, .add-btn:hover{
    background-color: var(--light-mode-complementary-blue);
    transition-duration: 0.15s;
  }
  a:focus{
    background-color: var(--light-mode-font-color);
    color: var(--light-mode-sb-bg-color);
  }
  button:focus-visible, input:focus-visible, select:focus-visible,
  button:hover, input:hover, select:hover{
    border: 1px solid var(--dark-mode-sb-bg-color);
  }
}
ul{
  list-style: none;
  padding: 0px;
}


p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

h2{
  padding-bottom: 4px;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;
}
a:hover {
  cursor: pointer;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

svg {
  display: inline-block;
  max-width: 100%;
}
img, picture, video, canvas{
  display: block;
  max-width: 100%;
}
button, input, select, textarea{
  font-family: inherit;
  color: inherit;
  background-color: inherit;
  border: 1px solid var(--light-mode-complementary-blue);
  border-radius: 4px;
  padding-inline: 8px;
  padding-block: 4px;
  outline: none;
  font-size: 100%;
  cursor: pointer;
}

.main{
  display: grid;
  grid-template-columns: auto 1fr;
}
.sidebar{
  display: flex;
  flex-direction: column;
  width: 260px;
  height: 100vh;
  padding-block: 8px;
  padding-inline:20px;
  gap: 8px;
  
}
.sidebar > *{
  padding-block: 4px;
}

.sidebar > .appLogo{
  padding-bottom: 24px;
}


.appLogo{
  display: flex;
  gap: 12px;
  
}

h1, .logo{
  font-size: 36px;
}
.logo {
    min-width: 36px;
    margin-block: auto;
}

.sb-item > a, .sb-item > button{
  display:flex;
  align-items:center;
  padding-inline: 8px;
  border-radius:6px;
  border:none;
}


.icon{
  font-size: 2rem;
  padding-right:10px;
}

.sb-item-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block:4rem;
  padding-inline: 6rem;
}

.sb-item-body > div {
  width: min(700px, 90%, 70vw);
}

.add-btn{
  background-color: inherit;
  width: 100%;
  height: 100%;
  font-weight: 500;
  font-size: inherit;
}
.add-btn:hover{
  cursor: pointer;
  border: none;
  transition-duration: 0.15s;
}

.form-container{
  background-color: white;
  position: absolute;
  top: 20%;
  left: 40%;
  width: clamp(200px, 30vw, 600px);
  /* max-width: 400px; */
  padding: 10px;
  z-index: 8;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.203) ;
  border-radius: 8px;
  border: 1px solid rgba(188, 188, 188, 0.514);
}

.project-form-container{
  background-color: white;
  position: absolute;
  top: 20%;
  left: 40%;
  width: clamp(100px, 15vw, 250px);
  /* max-width: 400px; */
  padding: 10px;
  z-index: 8;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.203) ;
  border-radius: 8px;
  border: 1px solid rgba(188, 188, 188, 0.514);
}

form{
  padding: 8px;
  display:flex;
  flex-direction: column;
  gap: 8px;
}

.form-btns{
  padding-top: 16px;
  display:flex;
  justify-content: flex-end;
  gap: 8px;
}

input[type=text], input[type=text]:focus-visible{
  font-size: 20px;
  border: none;
  outline: none;
  background-color: inherit;
}

button[type=submit]{
  background-color: var(--submit-form-color);
  color: whitesmoke;
  border: none;
}

button[type=submit]:disabled, button[type=submit]:disabled:hover{
  background-color: var(--submit-form-color-disabled);
  cursor: not-allowed;
}


button[type=submit]:hover{
  background-color: var(--submit-form-color-hover);
  transition-duration: 0.25s;
  
}

button[type=button]{
  background-color: var(--light-mode-sb-bg-color);
}

button[type=button]:hover{
  background-color: var(--light-mode-sb-bg-color);
  transition-duration: 0.25s;
}

.sb-item-add-task{
  align-items: center;
}

.todo-item{
  display: flex;
  padding-inline: 2px;
  padding-block: 10px;
  width: 100%;
  height: 100%;
  font-weight: 400;
  justify-content: space-between;
  border-bottom: 1px solid transparent;
}

.todo-item:hover{
  border-color: var(--light-mode-complementary-blue);
}

.date-heading{
  border-bottom: 1px solid var(--light-mode-complementary-blue); 
  padding-block: 8px;
}

.todo-item>div:first-child{
  margin-left: 8px;
  display:flex;
  align-items:center;
  padding-right: 8px;
  gap: 8px;
}

.complete-task-button{
  padding: 0;
  display:flex;
  place-items: center;
  border:none;
  &:hover{
    border:none;
  }
}

.complete-task-button > span {
  padding: 0;
  display:flex;
  flex-shrink: 0;
  width:18px;
  height:18px;
  border-radius: 50%;
  border: 1.5px solid var(--light-mode-checkbox-color);
  place-items: center;
  &:hover{
    border-color: var(--light-mode-font-color);
    transition-duration: 0.15s;
    & *{
      color: var(--light-mode-font-color);
      transition-duration: 0.45s;
    }
  }
}


.complete-task-button > span > *{
  color: transparent;
  align-self: center;
}

.my-projects{
  display: flex;
  font-weight: 700;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  padding-inline: 8px;
  border-bottom: 1px solid var(--light-mode-complementary-blue);
}

.project-adder{
  border: none;
  border-radius: 50%;
  font-size: 24px;
  padding: 2px;
  &:hover{
    border: none;
    color: var(--submit-form-color-hover);
  }
}

.my-projects-item{
  
}

.my-projects-item > .sb-item{
  display:flex;
  align-items:center;
  justify-content: space-between;
  padding-inline: 8px;
  border-radius:6px;
  border:none;
}
.my-projects-item > .sb-item> a{
  width: 100%;
}
.my-projects-item > .sb-item>a:hover{
  color: var(--submit-form-color);
  background-color:inherit;
}
.my-projects-item > .sb-item>a:focus{
  color: var(--submit-form-color-hover);
  background-color:inherit;
}

.project-deleter:hover{
  color: red;
}
